apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ k3s_certificate_authority_data}}"
    server: "{{ k3s_registration_address }}"
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data: "{{ k3s_user_client_certificate_data }}"
    client-key-data: "{{ k3s_user_client_key_data }}"
